<div class="container" style="background-color: rgb(190, 230, 232);">
    <br>
    <h2  style="text-align: center;">Ingreso de Productos</h2>
    <div style="text-align: center;">
<form action="/" method="POST" id="form">
    <div >
    <label for="titulo">
        <span>Titulo del producto</span>
        <input type="text" id="titulo" class="form-control" name="titulo" placeholder="">
    </label>
    </div>
    <div class="mb-3">
    <label for="precio">
        <span>Precio</span>
        <input type="number" id="precio" name="precio" class="form-control" placeholder="">
    </label>
    </div>
    <div class="mb-3">
    <label for="ruta">
        <span>URL del archivo</span>
        <input type="text" id="nombre" class="form-control" name="ruta" placeholder="">
    </label>
    </div>
    <input type="submit" class="btn btn-primary" value="Agregar" >
    </form>
    </div>
